@font-face {
  font-family: 'FluentUI-Regular-Color';
  src:  url('fonts/FluentUI-Regular-Color.eot?giciia');
  src:  url('fonts/FluentUI-Regular-Color.eot?giciia#iefix') format('embedded-opentype'),
    url('fonts/FluentUI-Regular-Color.ttf?giciia') format('truetype'),
    url('fonts/FluentUI-Regular-Color.woff?giciia') format('woff'),
    url('fonts/FluentUI-Regular-Color.svg?giciia#FluentUI-Regular-Color') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="flt-rc-"], [class*=" flt-rc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FluentUI-Regular-Color' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flt-rc-accessibility:before {
  content: "\e000";
}
.flt-rc-access-time:before {
  content: "\e001";
}
.flt-rc-activity:before {
  content: "\e002";
}
.flt-rc-add:before {
  content: "\e003";
}
.flt-rc-add-circle:before {
  content: "\e004";
}
.flt-rc-add-square:before {
  content: "\e005";
}
.flt-rc-airplane:before {
  content: "\e006";
}
.flt-rc-airplane-take-off:before {
  content: "\e007";
}
.flt-rc-alert:before {
  content: "\e008";
}
.flt-rc-alert-off:before {
  content: "\e009";
}
.flt-rc-alert-on:before {
  content: "\e00a";
}
.flt-rc-alert-snooze:before {
  content: "\e00b";
}
.flt-rc-alert-urgent:before {
  content: "\e00c";
}
.flt-rc-animal-dog:before {
  content: "\e00d";
}
.flt-rc-app-folder:before {
  content: "\e00e";
}
.flt-rc-app-generic:before {
  content: "\e00f";
}
.flt-rc-app-recent:before {
  content: "\e010";
}
.flt-rc-approvals-app:before {
  content: "\e011";
}
.flt-rc-apps:before {
  content: "\e012";
}
.flt-rc-apps-add-in:before {
  content: "\e013";
}
.flt-rc-apps-list:before {
  content: "\e014";
}
.flt-rc-app-span:before {
  content: "\e015";
}
.flt-rc-app-store:before {
  content: "\e016";
}
.flt-rc-app-title:before {
  content: "\e017";
}
.flt-rc-app-unspan:before {
  content: "\e018";
}
.flt-rc-archive:before {
  content: "\e019";
}
.flt-rc-arrow-autofit-height:before {
  content: "\e01a";
}
.flt-rc-arrow-autofit-width:before {
  content: "\e01b";
}
.flt-rc-arrow-clockwise:before {
  content: "\e01c";
}
.flt-rc-arrow-counterclockwise:before {
  content: "\e01d";
}
.flt-rc-arrow-curve-down-left:before {
  content: "\e01e";
}
.flt-rc-arrow-curve-down-right:before {
  content: "\e01f";
}
.flt-rc-arrow-curve-left:before {
  content: "\e020";
}
.flt-rc-arrow-curve-right:before {
  content: "\e021";
}
.flt-rc-arrow-curve-up-left:before {
  content: "\e022";
}
.flt-rc-arrow-curve-up-right:before {
  content: "\e023";
}
.flt-rc-arrow-down:before {
  content: "\e024";
}
.flt-rc-arrow-down-left:before {
  content: "\e025";
}
.flt-rc-arrow-download:before {
  content: "\e026";
}
.flt-rc-arrow-down-right-circle:before {
  content: "\e027";
}
.flt-rc-arrow-down-square:before {
  content: "\e028";
}
.flt-rc-arrow-enter:before {
  content: "\e029";
}
.flt-rc-arrow-expand:before {
  content: "\e02a";
}
.flt-rc-arrow-export:before {
  content: "\e02b";
}
.flt-rc-arrow-export-rtl:before {
  content: "\e02c";
}
.flt-rc-arrow-fit-height:before {
  content: "\e02d";
}
.flt-rc-arrow-fit-width:before {
  content: "\e02e";
}
.flt-rc-arrow-forward:before {
  content: "\e02f";
}
.flt-rc-arrow-import:before {
  content: "\e030";
}
.flt-rc-arrow-left:before {
  content: "\e031";
}
.flt-rc-arrow-maximize:before {
  content: "\e032";
}
.flt-rc-arrow-maximize-vertical:before {
  content: "\e033";
}
.flt-rc-arrow-minimize:before {
  content: "\e034";
}
.flt-rc-arrow-minimize-vertical:before {
  content: "\e035";
}
.flt-rc-arrow-move:before {
  content: "\e036";
}
.flt-rc-arrow-next:before {
  content: "\e037";
}
.flt-rc-arrow-previous:before {
  content: "\e038";
}
.flt-rc-arrow-redo:before {
  content: "\e039";
}
.flt-rc-arrow-repeat-all:before {
  content: "\e03a";
}
.flt-rc-arrow-repeat-all-off:before {
  content: "\e03b";
}
.flt-rc-arrow-reply:before {
  content: "\e03c";
}
.flt-rc-arrow-reply-all:before {
  content: "\e03d";
}
.flt-rc-arrow-reply-down:before {
  content: "\e03e";
}
.flt-rc-arrow-right:before {
  content: "\e03f";
}
.flt-rc-arrow-right-circle:before {
  content: "\e040";
}
.flt-rc-arrow-rotate-clockwise:before {
  content: "\e041";
}
.flt-rc-arrow-rotate-counterclockwise:before {
  content: "\e042";
}
.flt-rc-arrow-rotate-left:before {
  content: "\e043";
}
.flt-rc-arrow-rotate-right:before {
  content: "\e044";
}
.flt-rc-arrows-bidirectional:before {
  content: "\e045";
}
.flt-rc-arrow-sort:before {
  content: "\e046";
}
.flt-rc-arrow-swap:before {
  content: "\e047";
}
.flt-rc-arrow-sync:before {
  content: "\e048";
}
.flt-rc-arrow-sync-circle:before {
  content: "\e049";
}
.flt-rc-arrow-sync-off:before {
  content: "\e04a";
}
.flt-rc-arrow-trending:before {
  content: "\e04b";
}
.flt-rc-arrow-undo:before {
  content: "\e04c";
}
.flt-rc-arrow-up:before {
  content: "\e04d";
}
.flt-rc-arrow-up-circle:before {
  content: "\e04e";
}
.flt-rc-arrow-up-left:before {
  content: "\e04f";
}
.flt-rc-arrow-up-left-circle:before {
  content: "\e050";
}
.flt-rc-arrow-upload:before {
  content: "\e051";
}
.flt-rc-arrow-up-right:before {
  content: "\e052";
}
.flt-rc-assignments:before {
  content: "\e053";
}
.flt-rc-attach:before {
  content: "\e054";
}
.flt-rc-attach-arrow-right:before {
  content: "\e055";
}
.flt-rc-attach-text:before {
  content: "\e056";
}
.flt-rc-autocorrect:before {
  content: "\e057";
}
.flt-rc-autofit-content:before {
  content: "\e058";
}
.flt-rc-autosum:before {
  content: "\e059";
}
.flt-rc-backspace:before {
  content: "\e05a";
}
.flt-rc-backward:before {
  content: "\e05b";
}
.flt-rc-badge:before {
  content: "\e05c";
}
.flt-rc-balloon:before {
  content: "\e05d";
}
.flt-rc-battery-0:before {
  content: "\e05e";
}
.flt-rc-battery-1:before {
  content: "\e05f";
}
.flt-rc-battery-2:before {
  content: "\e060";
}
.flt-rc-battery-3:before {
  content: "\e061";
}
.flt-rc-battery-4:before {
  content: "\e062";
}
.flt-rc-battery-5:before {
  content: "\e063";
}
.flt-rc-battery-6:before {
  content: "\e064";
}
.flt-rc-battery-7:before {
  content: "\e065";
}
.flt-rc-battery-8:before {
  content: "\e066";
}
.flt-rc-battery-9:before {
  content: "\e067";
}
.flt-rc-battery-charge:before {
  content: "\e068";
}
.flt-rc-battery-full:before {
  content: "\e069";
}
.flt-rc-battery-saver:before {
  content: "\e06a";
}
.flt-rc-battery-warning:before {
  content: "\e06b";
}
.flt-rc-beaker:before {
  content: "\e06c";
}
.flt-rc-bed:before {
  content: "\e06d";
}
.flt-rc-block:before {
  content: "\e06e";
}
.flt-rc-bluetooth:before {
  content: "\e06f";
}
.flt-rc-bluetooth-connected:before {
  content: "\e070";
}
.flt-rc-bluetooth-disabled:before {
  content: "\e071";
}
.flt-rc-bluetooth-searching:before {
  content: "\e072";
}
.flt-rc-board:before {
  content: "\e073";
}
.flt-rc-book:before {
  content: "\e074";
}
.flt-rc-book-add:before {
  content: "\e075";
}
.flt-rc-book-clock:before {
  content: "\e076";
}
.flt-rc-book-coins:before {
  content: "\e077";
}
.flt-rc-book-compass:before {
  content: "\e078";
}
.flt-rc-book-database:before {
  content: "\e079";
}
.flt-rc-book-exclamation-mark:before {
  content: "\e07a";
}
.flt-rc-book-globe:before {
  content: "\e07b";
}
.flt-rc-book-information:before {
  content: "\e07c";
}
.flt-rc-book-letter:before {
  content: "\e07d";
}
.flt-rc-bookmark:before {
  content: "\e07e";
}
.flt-rc-bookmark-off:before {
  content: "\e07f";
}
.flt-rc-book-number:before {
  content: "\e080";
}
.flt-rc-book-open:before {
  content: "\e081";
}
.flt-rc-book-open-globe:before {
  content: "\e082";
}
.flt-rc-book-pulse:before {
  content: "\e083";
}
.flt-rc-book-question-mark:before {
  content: "\e084";
}
.flt-rc-book-search:before {
  content: "\e085";
}
.flt-rc-book-star:before {
  content: "\e086";
}
.flt-rc-book-theta:before {
  content: "\e087";
}
.flt-rc-bot:before {
  content: "\e088";
}
.flt-rc-bot-add:before {
  content: "\e089";
}
.flt-rc-branch:before {
  content: "\e08a";
}
.flt-rc-briefcase:before {
  content: "\e08b";
}
.flt-rc-briefcase-add:before {
  content: "\e08c";
}
.flt-rc-bring-to-front:before {
  content: "\e08d";
}
.flt-rc-broad-activity-feed:before {
  content: "\e08e";
}
.flt-rc-broom:before {
  content: "\e08f";
}
.flt-rc-bug:before {
  content: "\e090";
}
.flt-rc-building:before {
  content: "\e091";
}
.flt-rc-building-bank:before {
  content: "\e092";
}
.flt-rc-building-government:before {
  content: "\e093";
}
.flt-rc-building-multiple:before {
  content: "\e094";
}
.flt-rc-building-retail:before {
  content: "\e095";
}
.flt-rc-building-shop:before {
  content: "\e096";
}
.flt-rc-building-skyscraper:before {
  content: "\e097";
}
.flt-rc-calculator:before {
  content: "\e098";
}
.flt-rc-calendar:before {
  content: "\e099";
}
.flt-rc-calendar-3-day:before {
  content: "\e09a";
}
.flt-rc-calendar-add:before {
  content: "\e09b";
}
.flt-rc-calendar-agenda:before {
  content: "\e09c";
}
.flt-rc-calendar-arrow-right:before {
  content: "\e09d";
}
.flt-rc-calendar-assistant:before {
  content: "\e09e";
}
.flt-rc-calendar-cancel:before {
  content: "\e09f";
}
.flt-rc-calendar-checkmark:before {
  content: "\e0a0";
}
.flt-rc-calendar-clock:before {
  content: "\e0a1";
}
.flt-rc-calendar-date:before {
  content: "\e0a2";
}
.flt-rc-calendar-day:before {
  content: "\e0a3";
}
.flt-rc-calendar-empty:before {
  content: "\e0a4";
}
.flt-rc-calendar-later:before {
  content: "\e0a5";
}
.flt-rc-calendar-mention:before {
  content: "\e0a6";
}
.flt-rc-calendar-month:before {
  content: "\e0a7";
}
.flt-rc-calendar-multiple:before {
  content: "\e0a8";
}
.flt-rc-calendar-overdue:before {
  content: "\e0a9";
}
.flt-rc-calendar-person:before {
  content: "\e0aa";
}
.flt-rc-calendar-question-mark:before {
  content: "\e0ab";
}
.flt-rc-calendar-reply:before {
  content: "\e0ac";
}
.flt-rc-calendar-settings:before {
  content: "\e0ad";
}
.flt-rc-calendar-star:before {
  content: "\e0ae";
}
.flt-rc-calendar-sync:before {
  content: "\e0af";
}
.flt-rc-calendar-today:before {
  content: "\e0b0";
}
.flt-rc-calendar-week-numbers:before {
  content: "\e0b1";
}
.flt-rc-calendar-week-start:before {
  content: "\e0b2";
}
.flt-rc-calendar-work-week:before {
  content: "\e0b3";
}
.flt-rc-call-add:before {
  content: "\e0b4";
}
.flt-rc-call-end:before {
  content: "\e0b5";
}
.flt-rc-call-forward:before {
  content: "\e0b6";
}
.flt-rc-calligraphy-pen:before {
  content: "\e0b7";
}
.flt-rc-call-inbound:before {
  content: "\e0b8";
}
.flt-rc-call-missed:before {
  content: "\e0b9";
}
.flt-rc-call-outbound:before {
  content: "\e0ba";
}
.flt-rc-call-park:before {
  content: "\e0bb";
}
.flt-rc-camera:before {
  content: "\e0bc";
}
.flt-rc-camera-add:before {
  content: "\e0bd";
}
.flt-rc-camera-edit:before {
  content: "\e0be";
}
.flt-rc-camera-switch:before {
  content: "\e0bf";
}
.flt-rc-caret:before {
  content: "\e0c0";
}
.flt-rc-caret-down:before {
  content: "\e0c1";
}
.flt-rc-caret-left:before {
  content: "\e0c2";
}
.flt-rc-caret-right:before {
  content: "\e0c3";
}
.flt-rc-caret-up:before {
  content: "\e0c4";
}
.flt-rc-cart:before {
  content: "\e0c5";
}
.flt-rc-cast:before {
  content: "\e0c6";
}
.flt-rc-cellular-3g:before {
  content: "\e0c7";
}
.flt-rc-cellular-4g:before {
  content: "\e0c8";
}
.flt-rc-cellular-data-1:before {
  content: "\e0c9";
}
.flt-rc-cellular-data-2:before {
  content: "\e0ca";
}
.flt-rc-cellular-data-3:before {
  content: "\e0cb";
}
.flt-rc-cellular-data-4:before {
  content: "\e0cc";
}
.flt-rc-cellular-data-5:before {
  content: "\e0cd";
}
.flt-rc-cellular-data-off:before {
  content: "\e0ce";
}
.flt-rc-cellular-off:before {
  content: "\e0cf";
}
.flt-rc-cellular-unavailable:before {
  content: "\e0d0";
}
.flt-rc-center-horizontally:before {
  content: "\e0d1";
}
.flt-rc-center-vertically:before {
  content: "\e0d2";
}
.flt-rc-certificate:before {
  content: "\e0d3";
}
.flt-rc-channel:before {
  content: "\e0d4";
}
.flt-rc-channel-add:before {
  content: "\e0d5";
}
.flt-rc-channel-follow:before {
  content: "\e0d6";
}
.flt-rc-channel-notifications:before {
  content: "\e0d7";
}
.flt-rc-channel-unfollow:before {
  content: "\e0d8";
}
.flt-rc-chat:before {
  content: "\e0d9";
}
.flt-rc-chat-bubbles-question:before {
  content: "\e0da";
}
.flt-rc-chat-help:before {
  content: "\e0db";
}
.flt-rc-chat-off:before {
  content: "\e0dc";
}
.flt-rc-chat-warning:before {
  content: "\e0dd";
}
.flt-rc-checkbox-checked:before {
  content: "\e0de";
}
.flt-rc-checkbox-unchecked:before {
  content: "\e0df";
}
.flt-rc-checkmark:before {
  content: "\e0e0";
}
.flt-rc-checkmark-circle:before {
  content: "\e0e1";
}
.flt-rc-checkmark-lock:before {
  content: "\e0e2";
}
.flt-rc-checkmark-square:before {
  content: "\e0e3";
}
.flt-rc-checkmark-underline-circle:before {
  content: "\e0e4";
}
.flt-rc-chevron-down:before {
  content: "\e0e5";
}
.flt-rc-chevron-down-circle:before {
  content: "\e0e6";
}
.flt-rc-chevron-left:before {
  content: "\e0e7";
}
.flt-rc-chevron-right:before {
  content: "\e0e8";
}
.flt-rc-chevron-up:before {
  content: "\e0e9";
}
.flt-rc-circle:before {
  content: "\e0ea";
}
.flt-rc-circle-half-fill:before {
  content: "\e0eb";
}
.flt-rc-circle-line:before {
  content: "\e0ec";
}
.flt-rc-circle-small:before {
  content: "\e0ed";
}
.flt-rc-city:before {
  content: "\e0ee";
}
.flt-rc-class:before {
  content: "\e0ef";
}
.flt-rc-classification:before {
  content: "\e0f0";
}
.flt-rc-clear-formatting:before {
  content: "\e0f1";
}
.flt-rc-clipboard:before {
  content: "\e0f2";
}
.flt-rc-clipboard-code:before {
  content: "\e0f3";
}
.flt-rc-clipboard-letter:before {
  content: "\e0f4";
}
.flt-rc-clipboard-link:before {
  content: "\e0f5";
}
.flt-rc-clipboard-more:before {
  content: "\e0f6";
}
.flt-rc-clipboard-paste:before {
  content: "\e0f7";
}
.flt-rc-clipboard-search:before {
  content: "\e0f8";
}
.flt-rc-clipboard-text:before {
  content: "\e0f9";
}
.flt-rc-clock:before {
  content: "\e0fa";
}
.flt-rc-clock-alarm:before {
  content: "\e0fb";
}
.flt-rc-closed-caption:before {
  content: "\e0fc";
}
.flt-rc-cloud:before {
  content: "\e0fd";
}
.flt-rc-cloud-backup:before {
  content: "\e0fe";
}
.flt-rc-cloud-download:before {
  content: "\e0ff";
}
.flt-rc-cloud-off:before {
  content: "\e100";
}
.flt-rc-cloud-offline:before {
  content: "\e101";
}
.flt-rc-cloud-sync-complete:before {
  content: "\e102";
}
.flt-rc-code:before {
  content: "\e103";
}
.flt-rc-collections:before {
  content: "\e104";
}
.flt-rc-collections-add:before {
  content: "\e105";
}
.flt-rc-color:before {
  content: "\e106";
}
.flt-rc-color-background:before {
  content: "\e107";
}
.flt-rc-color-background-accent:before {
  content: "\e108";
}
.flt-rc-color-fill:before {
  content: "\e109";
}
.flt-rc-color-fill-accent:before {
  content: "\e10a";
}
.flt-rc-color-line:before {
  content: "\e10b";
}
.flt-rc-color-line-accent:before {
  content: "\e10c";
}
.flt-rc-column-triple:before {
  content: "\e10d";
}
.flt-rc-comment:before {
  content: "\e10e";
}
.flt-rc-comment-add:before {
  content: "\e10f";
}
.flt-rc-comment-delete:before {
  content: "\e110";
}
.flt-rc-comment-edit:before {
  content: "\e111";
}
.flt-rc-comment-mention:before {
  content: "\e112";
}
.flt-rc-comment-multiple:before {
  content: "\e113";
}
.flt-rc-comment-next:before {
  content: "\e114";
}
.flt-rc-comment-off:before {
  content: "\e115";
}
.flt-rc-comment-previous:before {
  content: "\e116";
}
.flt-rc-comment-resolve:before {
  content: "\e117";
}
.flt-rc-communication:before {
  content: "\e118";
}
.flt-rc-compass-northwest:before {
  content: "\e119";
}
.flt-rc-compose:before {
  content: "\e11a";
}
.flt-rc-conference-room:before {
  content: "\e11b";
}
.flt-rc-connector:before {
  content: "\e11c";
}
.flt-rc-contact-card:before {
  content: "\e11d";
}
.flt-rc-contact-card-group:before {
  content: "\e11e";
}
.flt-rc-contacts:before {
  content: "\e11f";
}
.flt-rc-content-settings:before {
  content: "\e120";
}
.flt-rc-convert-range:before {
  content: "\e121";
}
.flt-rc-convert-to-table:before {
  content: "\e122";
}
.flt-rc-convert-to-text:before {
  content: "\e123";
}
.flt-rc-cookies:before {
  content: "\e124";
}
.flt-rc-copy:before {
  content: "\e125";
}
.flt-rc-copy-add:before {
  content: "\e126";
}
.flt-rc-copy-image:before {
  content: "\e127";
}
.flt-rc-copy-link:before {
  content: "\e128";
}
.flt-rc-copy-move:before {
  content: "\e129";
}
.flt-rc-couch:before {
  content: "\e12a";
}
.flt-rc-crop:before {
  content: "\e12b";
}
.flt-rc-crop-interim:before {
  content: "\e12c";
}
.flt-rc-crop-interim-off:before {
  content: "\e12d";
}
.flt-rc-cube:before {
  content: "\e12e";
}
.flt-rc-currency:before {
  content: "\e12f";
}
.flt-rc-currency-dollar-rupee:before {
  content: "\e130";
}
.flt-rc-cursor:before {
  content: "\e131";
}
.flt-rc-cursor-hover:before {
  content: "\e132";
}
.flt-rc-cursor-hover-off:before {
  content: "\e133";
}
.flt-rc-cut:before {
  content: "\e134";
}
.flt-rc-dark-theme:before {
  content: "\e135";
}
.flt-rc-data-area:before {
  content: "\e136";
}
.flt-rc-data-bar-horizontal:before {
  content: "\e137";
}
.flt-rc-data-bar-vertical:before {
  content: "\e138";
}
.flt-rc-data-bar-vertical-add:before {
  content: "\e139";
}
.flt-rc-data-funnel:before {
  content: "\e13a";
}
.flt-rc-data-histogram:before {
  content: "\e13b";
}
.flt-rc-data-line:before {
  content: "\e13c";
}
.flt-rc-data-pie:before {
  content: "\e13d";
}
.flt-rc-data-scatter:before {
  content: "\e13e";
}
.flt-rc-data-sunburst:before {
  content: "\e13f";
}
.flt-rc-data-treemap:before {
  content: "\e140";
}
.flt-rc-data-usage:before {
  content: "\e141";
}
.flt-rc-data-waterfall:before {
  content: "\e142";
}
.flt-rc-data-whisker:before {
  content: "\e143";
}
.flt-rc-delete:before {
  content: "\e144";
}
.flt-rc-delete-forever:before {
  content: "\e145";
}
.flt-rc-delete-off:before {
  content: "\e146";
}
.flt-rc-dentist:before {
  content: "\e147";
}
.flt-rc-design-ideas:before {
  content: "\e148";
}
.flt-rc-desktop:before {
  content: "\e149";
}
.flt-rc-developer-board:before {
  content: "\e14a";
}
.flt-rc-device-eq:before {
  content: "\e14b";
}
.flt-rc-dialpad:before {
  content: "\e14c";
}
.flt-rc-dialpad-off:before {
  content: "\e14d";
}
.flt-rc-directions:before {
  content: "\e14e";
}
.flt-rc-dismiss:before {
  content: "\e14f";
}
.flt-rc-dismiss-circle:before {
  content: "\e150";
}
.flt-rc-divider-short:before {
  content: "\e151";
}
.flt-rc-divider-tall:before {
  content: "\e152";
}
.flt-rc-dock:before {
  content: "\e153";
}
.flt-rc-dock-left:before {
  content: "\e154";
}
.flt-rc-dock-row:before {
  content: "\e155";
}
.flt-rc-doctor:before {
  content: "\e156";
}
.flt-rc-document:before {
  content: "\e157";
}
.flt-rc-document-add:before {
  content: "\e158";
}
.flt-rc-document-arrow-left:before {
  content: "\e159";
}
.flt-rc-document-autosave:before {
  content: "\e15a";
}
.flt-rc-document-briefcase:before {
  content: "\e15b";
}
.flt-rc-document-catch-up:before {
  content: "\e15c";
}
.flt-rc-document-copy:before {
  content: "\e15d";
}
.flt-rc-document-dismiss:before {
  content: "\e15e";
}
.flt-rc-document-edit:before {
  content: "\e15f";
}
.flt-rc-document-endnote:before {
  content: "\e160";
}
.flt-rc-document-error:before {
  content: "\e161";
}
.flt-rc-document-footer:before {
  content: "\e162";
}
.flt-rc-document-footer-remove:before {
  content: "\e163";
}
.flt-rc-document-header:before {
  content: "\e164";
}
.flt-rc-document-header-footer:before {
  content: "\e165";
}
.flt-rc-document-header-remove:before {
  content: "\e166";
}
.flt-rc-document-landscape:before {
  content: "\e167";
}
.flt-rc-document-margins:before {
  content: "\e168";
}
.flt-rc-document-none:before {
  content: "\e169";
}
.flt-rc-document-one-page:before {
  content: "\e16a";
}
.flt-rc-document-page:before {
  content: "\e16b";
}
.flt-rc-document-page-bottom-center:before {
  content: "\e16c";
}
.flt-rc-document-page-bottom-left:before {
  content: "\e16d";
}
.flt-rc-document-page-bottom-right:before {
  content: "\e16e";
}
.flt-rc-document-page-break:before {
  content: "\e16f";
}
.flt-rc-document-page-number:before {
  content: "\e170";
}
.flt-rc-document-page-top-center:before {
  content: "\e171";
}
.flt-rc-document-page-top-left:before {
  content: "\e172";
}
.flt-rc-document-page-top-right:before {
  content: "\e173";
}
.flt-rc-document-pdf:before {
  content: "\e174";
}
.flt-rc-document-search:before {
  content: "\e175";
}
.flt-rc-document-toolbox:before {
  content: "\e176";
}
.flt-rc-document-top-center:before {
  content: "\e177";
}
.flt-rc-document-top-left:before {
  content: "\e178";
}
.flt-rc-document-top-right:before {
  content: "\e179";
}
.flt-rc-document-unknown:before {
  content: "\e17a";
}
.flt-rc-document-width:before {
  content: "\e17b";
}
.flt-rc-double-swipe-down:before {
  content: "\e17c";
}
.flt-rc-double-swipe-up:before {
  content: "\e17d";
}
.flt-rc-double-tap-swipe-down:before {
  content: "\e17e";
}
.flt-rc-double-tap-swipe-up:before {
  content: "\e17f";
}
.flt-rc-drafts:before {
  content: "\e180";
}
.flt-rc-drag:before {
  content: "\e181";
}
.flt-rc-drink:before {
  content: "\e182";
}
.flt-rc-drink-beer:before {
  content: "\e183";
}
.flt-rc-drink-coffee:before {
  content: "\e184";
}
.flt-rc-drink-margarita:before {
  content: "\e185";
}
.flt-rc-drink-wine:before {
  content: "\e186";
}
.flt-rc-dual-screen:before {
  content: "\e187";
}
.flt-rc-dual-screen-add:before {
  content: "\e188";
}
.flt-rc-dual-screen-arrow-right:before {
  content: "\e189";
}
.flt-rc-dual-screen-clock:before {
  content: "\e18a";
}
.flt-rc-dual-screen-desktop:before {
  content: "\e18b";
}
.flt-rc-dual-screen-error:before {
  content: "\e18c";
}
.flt-rc-dual-screen-group:before {
  content: "\e18d";
}
.flt-rc-dual-screen-header:before {
  content: "\e18e";
}
.flt-rc-dual-screen-lock:before {
  content: "\e18f";
}
.flt-rc-dual-screen-mirror:before {
  content: "\e190";
}
.flt-rc-dual-screen-pagination:before {
  content: "\e191";
}
.flt-rc-dual-screen-settings:before {
  content: "\e192";
}
.flt-rc-dual-screen-span:before {
  content: "\e193";
}
.flt-rc-dual-screen-status-bar:before {
  content: "\e194";
}
.flt-rc-dual-screen-tablet:before {
  content: "\e195";
}
.flt-rc-dual-screen-update:before {
  content: "\e196";
}
.flt-rc-dual-screen-vertical-scroll:before {
  content: "\e197";
}
.flt-rc-dual-screen-vibrate:before {
  content: "\e198";
}
.flt-rc-earth:before {
  content: "\e199";
}
.flt-rc-edit:before {
  content: "\e19a";
}
.flt-rc-edit-off:before {
  content: "\e19b";
}
.flt-rc-edit-settings:before {
  content: "\e19c";
}
.flt-rc-emoji:before {
  content: "\e19d";
}
.flt-rc-emoji-add:before {
  content: "\e19e";
}
.flt-rc-emoji-angry:before {
  content: "\e19f";
}
.flt-rc-emoji-laugh:before {
  content: "\e1a0";
}
.flt-rc-emoji-meh:before {
  content: "\e1a1";
}
.flt-rc-emoji-sad:before {
  content: "\e1a2";
}
.flt-rc-emoji-surprise:before {
  content: "\e1a3";
}
.flt-rc-erase:before {
  content: "\e1a4";
}
.flt-rc-eraser-tool:before {
  content: "\e1a5";
}
.flt-rc-error-circle:before {
  content: "\e1a6";
}
.flt-rc-export:before {
  content: "\e1a7";
}
.flt-rc-extended-dock:before {
  content: "\e1a8";
}
.flt-rc-extension:before {
  content: "\e1a9";
}
.flt-rc-eye-hide:before {
  content: "\e1aa";
}
.flt-rc-eye-show:before {
  content: "\e1ab";
}
.flt-rc-eye-tracking:before {
  content: "\e1ac";
}
.flt-rc-eye-tracking-off:before {
  content: "\e1ad";
}
.flt-rc-fast-acceleration:before {
  content: "\e1ae";
}
.flt-rc-fast-forward:before {
  content: "\e1af";
}
.flt-rc-fast-mode:before {
  content: "\e1b0";
}
.flt-rc-favorites:before {
  content: "\e1b1";
}
.flt-rc-filter:before {
  content: "\e1b2";
}
.flt-rc-fingerprint:before {
  content: "\e1b3";
}
.flt-rc-fixed-width:before {
  content: "\e1b4";
}
.flt-rc-flag:before {
  content: "\e1b5";
}
.flt-rc-flag-off:before {
  content: "\e1b6";
}
.flt-rc-flag-pride .path1:before {
  content: "\e1b7";
  color: rgb(116, 81, 37);
}
.flt-rc-flag-pride .path2:before {
  content: "\e1b8";
  margin-left: -1em;
  color: rgb(230, 44, 70);
}
.flt-rc-flag-pride .path3:before {
  content: "\e1b9";
  margin-left: -1em;
  color: rgb(243, 109, 56);
}
.flt-rc-flag-pride .path4:before {
  content: "\e1ba";
  margin-left: -1em;
  color: rgb(255, 210, 62);
}
.flt-rc-flag-pride .path5:before {
  content: "\e1bb";
  margin-left: -1em;
  color: rgb(97, 188, 81);
}
.flt-rc-flag-pride .path6:before {
  content: "\e1bc";
  margin-left: -1em;
  color: rgb(23, 147, 232);
}
.flt-rc-flag-pride .path7:before {
  content: "\e1bd";
  margin-left: -1em;
  color: rgb(183, 63, 187);
}
.flt-rc-flag-pride .path8:before {
  content: "\e1be";
  margin-left: -1em;
  color: rgb(33, 33, 33);
}
.flt-rc-flash-auto:before {
  content: "\e1bf";
}
.flt-rc-flashlight:before {
  content: "\e1c0";
}
.flt-rc-flashlight-off:before {
  content: "\e1c1";
}
.flt-rc-flash-off:before {
  content: "\e1c2";
}
.flt-rc-flash-on:before {
  content: "\e1c3";
}
.flt-rc-flip-horizontal:before {
  content: "\e1c4";
}
.flt-rc-flip-vertical:before {
  content: "\e1c5";
}
.flt-rc-fluent:before {
  content: "\e1c6";
}
.flt-rc-fluid:before {
  content: "\e1c7";
}
.flt-rc-folder:before {
  content: "\e1c8";
}
.flt-rc-folder-add:before {
  content: "\e1c9";
}
.flt-rc-folder-briefcase:before {
  content: "\e1ca";
}
.flt-rc-folder-junk:before {
  content: "\e1cb";
}
.flt-rc-folder-link:before {
  content: "\e1cc";
}
.flt-rc-folder-move:before {
  content: "\e1cd";
}
.flt-rc-folder-open:before {
  content: "\e1ce";
}
.flt-rc-folder-open-vertical:before {
  content: "\e1cf";
}
.flt-rc-folder-public:before {
  content: "\e1d0";
}
.flt-rc-folder-zip:before {
  content: "\e1d1";
}
.flt-rc-font-decrease:before {
  content: "\e1d2";
}
.flt-rc-font-increase:before {
  content: "\e1d3";
}
.flt-rc-font-space-tracking-in:before {
  content: "\e1d4";
}
.flt-rc-font-space-tracking-out:before {
  content: "\e1d5";
}
.flt-rc-food:before {
  content: "\e1d6";
}
.flt-rc-food-cake:before {
  content: "\e1d7";
}
.flt-rc-food-egg:before {
  content: "\e1d8";
}
.flt-rc-food-toast:before {
  content: "\e1d9";
}
.flt-rc-form-new:before {
  content: "\e1da";
}
.flt-rc-forward:before {
  content: "\e1db";
}
.flt-rc-fps-240:before {
  content: "\e1dc";
}
.flt-rc-fps-960:before {
  content: "\e1dd";
}
.flt-rc-full-screen-zoom:before {
  content: "\e1de";
}
.flt-rc-gallery:before {
  content: "\e1df";
}
.flt-rc-games:before {
  content: "\e1e0";
}
.flt-rc-gavel:before {
  content: "\e1e1";
}
.flt-rc-gesture:before {
  content: "\e1e2";
}
.flt-rc-gif:before {
  content: "\e1e3";
}
.flt-rc-gift:before {
  content: "\e1e4";
}
.flt-rc-glance:before {
  content: "\e1e5";
}
.flt-rc-glasses:before {
  content: "\e1e6";
}
.flt-rc-glasses-off:before {
  content: "\e1e7";
}
.flt-rc-globe:before {
  content: "\e1e8";
}
.flt-rc-globe-add:before {
  content: "\e1e9";
}
.flt-rc-globe-clock:before {
  content: "\e1ea";
}
.flt-rc-globe-desktop:before {
  content: "\e1eb";
}
.flt-rc-globe-location:before {
  content: "\e1ec";
}
.flt-rc-globe-search:before {
  content: "\e1ed";
}
.flt-rc-globe-video:before {
  content: "\e1ee";
}
.flt-rc-grid:before {
  content: "\e1ef";
}
.flt-rc-group:before {
  content: "\e1f0";
}
.flt-rc-group-list:before {
  content: "\e1f1";
}
.flt-rc-guest:before {
  content: "\e1f2";
}
.flt-rc-guest-add:before {
  content: "\e1f3";
}
.flt-rc-hand-raise:before {
  content: "\e1f4";
}
.flt-rc-handshake:before {
  content: "\e1f5";
}
.flt-rc-hat-graduation:before {
  content: "\e1f6";
}
.flt-rc-hdr:before {
  content: "\e1f7";
}
.flt-rc-headphones:before {
  content: "\e1f8";
}
.flt-rc-headset:before {
  content: "\e1f9";
}
.flt-rc-headset-vr:before {
  content: "\e1fa";
}
.flt-rc-heart:before {
  content: "\e1fb";
}
.flt-rc-heart-pulse:before {
  content: "\e1fc";
}
.flt-rc-highlight:before {
  content: "\e1fd";
}
.flt-rc-highlight-accent:before {
  content: "\e1fe";
}
.flt-rc-history:before {
  content: "\e1ff";
}
.flt-rc-home:before {
  content: "\e200";
}
.flt-rc-home-add:before {
  content: "\e201";
}
.flt-rc-home-checkmark:before {
  content: "\e202";
}
.flt-rc-icons:before {
  content: "\e203";
}
.flt-rc-image:before {
  content: "\e204";
}
.flt-rc-image-add:before {
  content: "\e205";
}
.flt-rc-image-alt-text:before {
  content: "\e206";
}
.flt-rc-image-arrow-counterclockwise:before {
  content: "\e207";
}
.flt-rc-image-copy:before {
  content: "\e208";
}
.flt-rc-image-edit:before {
  content: "\e209";
}
.flt-rc-image-library:before {
  content: "\e20a";
}
.flt-rc-image-off:before {
  content: "\e20b";
}
.flt-rc-image-search:before {
  content: "\e20c";
}
.flt-rc-immersive-reader:before {
  content: "\e20d";
}
.flt-rc-important:before {
  content: "\e20e";
}
.flt-rc-incognito:before {
  content: "\e20f";
}
.flt-rc-info:before {
  content: "\e210";
}
.flt-rc-inking-tool:before {
  content: "\e211";
}
.flt-rc-inking-tool-accent:before {
  content: "\e212";
}
.flt-rc-inprivate-account:before {
  content: "\e213";
}
.flt-rc-insert:before {
  content: "\e214";
}
.flt-rc-ios-arrow-left:before {
  content: "\e215";
}
.flt-rc-ios-chevron:before {
  content: "\e216";
}
.flt-rc-ios-chevron-right:before {
  content: "\e217";
}
.flt-rc-javascript:before {
  content: "\e218";
}
.flt-rc-key:before {
  content: "\e219";
}
.flt-rc-keyboard:before {
  content: "\e21a";
}
.flt-rc-keyboard-dock:before {
  content: "\e21b";
}
.flt-rc-keyboard-layout-float:before {
  content: "\e21c";
}
.flt-rc-keyboard-layout-one-handed-left:before {
  content: "\e21d";
}
.flt-rc-keyboard-layout-resize:before {
  content: "\e21e";
}
.flt-rc-keyboard-layout-split:before {
  content: "\e21f";
}
.flt-rc-keyboard-shift:before {
  content: "\e220";
}
.flt-rc-keyboard-shift-uppercase:before {
  content: "\e221";
}
.flt-rc-keyboard-tab:before {
  content: "\e222";
}
.flt-rc-laptop:before {
  content: "\e223";
}
.flt-rc-large:before {
  content: "\e224";
}
.flt-rc-lasso:before {
  content: "\e225";
}
.flt-rc-launcher-settings:before {
  content: "\e226";
}
.flt-rc-layer:before {
  content: "\e227";
}
.flt-rc-leaf:before {
  content: "\e228";
}
.flt-rc-leaf-two:before {
  content: "\e229";
}
.flt-rc-library:before {
  content: "\e22a";
}
.flt-rc-lightbulb:before {
  content: "\e22b";
}
.flt-rc-lightbulb-circle:before {
  content: "\e22c";
}
.flt-rc-lightbulb-filament:before {
  content: "\e22d";
}
.flt-rc-like:before {
  content: "\e22e";
}
.flt-rc-likert:before {
  content: "\e22f";
}
.flt-rc-line-horizontal-1:before {
  content: "\e230";
}
.flt-rc-line-horizontal-3:before {
  content: "\e231";
}
.flt-rc-line-horizontal-5:before {
  content: "\e232";
}
.flt-rc-link:before {
  content: "\e233";
}
.flt-rc-link-edit:before {
  content: "\e234";
}
.flt-rc-link-remove:before {
  content: "\e235";
}
.flt-rc-link-square:before {
  content: "\e236";
}
.flt-rc-list:before {
  content: "\e237";
}
.flt-rc-live:before {
  content: "\e238";
}
.flt-rc-local-language:before {
  content: "\e239";
}
.flt-rc-location:before {
  content: "\e23a";
}
.flt-rc-location-live:before {
  content: "\e23b";
}
.flt-rc-location-not-found:before {
  content: "\e23c";
}
.flt-rc-location-off:before {
  content: "\e23d";
}
.flt-rc-lock:before {
  content: "\e23e";
}
.flt-rc-lock-multiple:before {
  content: "\e23f";
}
.flt-rc-lock-shield:before {
  content: "\e240";
}
.flt-rc-lottery:before {
  content: "\e241";
}
.flt-rc-magic-wand:before {
  content: "\e242";
}
.flt-rc-mail:before {
  content: "\e243";
}
.flt-rc-mail-add:before {
  content: "\e244";
}
.flt-rc-mail-all:before {
  content: "\e245";
}
.flt-rc-mail-all-accounts:before {
  content: "\e246";
}
.flt-rc-mail-all-read:before {
  content: "\e247";
}
.flt-rc-mail-all-unread:before {
  content: "\e248";
}
.flt-rc-mail-clock:before {
  content: "\e249";
}
.flt-rc-mail-copy:before {
  content: "\e24a";
}
.flt-rc-mail-inbox:before {
  content: "\e24b";
}
.flt-rc-mail-inbox-add:before {
  content: "\e24c";
}
.flt-rc-mail-inbox-dismiss:before {
  content: "\e24d";
}
.flt-rc-mail-move-to-focussed:before {
  content: "\e24e";
}
.flt-rc-mail-outbox:before {
  content: "\e24f";
}
.flt-rc-mail-read:before {
  content: "\e250";
}
.flt-rc-mail-unread:before {
  content: "\e251";
}
.flt-rc-mail-unsubscribe:before {
  content: "\e252";
}
.flt-rc-malware-detected:before {
  content: "\e253";
}
.flt-rc-manufacturer:before {
  content: "\e254";
}
.flt-rc-map:before {
  content: "\e255";
}
.flt-rc-map-drive:before {
  content: "\e256";
}
.flt-rc-match-app-layout:before {
  content: "\e257";
}
.flt-rc-math-format-linear:before {
  content: "\e258";
}
.flt-rc-math-format-professional:before {
  content: "\e259";
}
.flt-rc-math-formula:before {
  content: "\e25a";
}
.flt-rc-maximize:before {
  content: "\e25b";
}
.flt-rc-meet-now:before {
  content: "\e25c";
}
.flt-rc-megaphone:before {
  content: "\e25d";
}
.flt-rc-megaphone-off:before {
  content: "\e25e";
}
.flt-rc-mention:before {
  content: "\e25f";
}
.flt-rc-merge:before {
  content: "\e260";
}
.flt-rc-mic-off:before {
  content: "\e261";
}
.flt-rc-mic-on:before {
  content: "\e262";
}
.flt-rc-mic-settings:before {
  content: "\e263";
}
.flt-rc-midi:before {
  content: "\e264";
}
.flt-rc-missing-metadata:before {
  content: "\e265";
}
.flt-rc-mobile-optimized:before {
  content: "\e266";
}
.flt-rc-money:before {
  content: "\e267";
}
.flt-rc-more:before {
  content: "\e268";
}
.flt-rc-more-circle:before {
  content: "\e269";
}
.flt-rc-more-vertical:before {
  content: "\e26a";
}
.flt-rc-movies-and-tv:before {
  content: "\e26b";
}
.flt-rc-multiselect:before {
  content: "\e26c";
}
.flt-rc-music:before {
  content: "\e26d";
}
.flt-rc-my-location:before {
  content: "\e26e";
}
.flt-rc-navigation:before {
  content: "\e26f";
}
.flt-rc-network-check:before {
  content: "\e270";
}
.flt-rc-new:before {
  content: "\e271";
}
.flt-rc-news:before {
  content: "\e272";
}
.flt-rc-next:before {
  content: "\e273";
}
.flt-rc-note:before {
  content: "\e274";
}
.flt-rc-note-add:before {
  content: "\e275";
}
.flt-rc-notebook:before {
  content: "\e276";
}
.flt-rc-notebook-error:before {
  content: "\e277";
}
.flt-rc-notebook-lightning:before {
  content: "\e278";
}
.flt-rc-notebook-question-mark:before {
  content: "\e279";
}
.flt-rc-notebook-section:before {
  content: "\e27a";
}
.flt-rc-notebook-sync:before {
  content: "\e27b";
}
.flt-rc-notepad:before {
  content: "\e27c";
}
.flt-rc-number-row:before {
  content: "\e27d";
}
.flt-rc-number-symbol:before {
  content: "\e27e";
}
.flt-rc-office-apps:before {
  content: "\e27f";
}
.flt-rc-open:before {
  content: "\e280";
}
.flt-rc-open-folder:before {
  content: "\e281";
}
.flt-rc-open-in-browser:before {
  content: "\e282";
}
.flt-rc-options:before {
  content: "\e283";
}
.flt-rc-organization:before {
  content: "\e284";
}
.flt-rc-owner:before {
  content: "\e285";
}
.flt-rc-page:before {
  content: "\e286";
}
.flt-rc-page-fit:before {
  content: "\e287";
}
.flt-rc-paint-brush:before {
  content: "\e288";
}
.flt-rc-paint-brush-arrow-down:before {
  content: "\e289";
}
.flt-rc-paint-brush-arrow-up:before {
  content: "\e28a";
}
.flt-rc-paint-bucket:before {
  content: "\e28b";
}
.flt-rc-pair:before {
  content: "\e28c";
}
.flt-rc-pane-close:before {
  content: "\e28d";
}
.flt-rc-pane-open:before {
  content: "\e28e";
}
.flt-rc-password:before {
  content: "\e28f";
}
.flt-rc-patient:before {
  content: "\e290";
}
.flt-rc-pause:before {
  content: "\e291";
}
.flt-rc-payment:before {
  content: "\e292";
}
.flt-rc-people:before {
  content: "\e293";
}
.flt-rc-people-add:before {
  content: "\e294";
}
.flt-rc-people-audience:before {
  content: "\e295";
}
.flt-rc-people-community:before {
  content: "\e296";
}
.flt-rc-people-community-add:before {
  content: "\e297";
}
.flt-rc-people-prohibited:before {
  content: "\e298";
}
.flt-rc-people-search:before {
  content: "\e299";
}
.flt-rc-people-settings:before {
  content: "\e29a";
}
.flt-rc-people-team:before {
  content: "\e29b";
}
.flt-rc-people-team-add:before {
  content: "\e29c";
}
.flt-rc-people-team-dismiss:before {
  content: "\e29d";
}
.flt-rc-person:before {
  content: "\e29e";
}
.flt-rc-person-accounts:before {
  content: "\e29f";
}
.flt-rc-person-add:before {
  content: "\e2a0";
}
.flt-rc-person-arrow-left:before {
  content: "\e2a1";
}
.flt-rc-person-arrow-right:before {
  content: "\e2a2";
}
.flt-rc-person-available:before {
  content: "\e2a3";
}
.flt-rc-person-board:before {
  content: "\e2a4";
}
.flt-rc-person-call:before {
  content: "\e2a5";
}
.flt-rc-person-clock:before {
  content: "\e2a6";
}
.flt-rc-person-delete:before {
  content: "\e2a7";
}
.flt-rc-person-feedback:before {
  content: "\e2a8";
}
.flt-rc-person-mail:before {
  content: "\e2a9";
}
.flt-rc-person-prohibited:before {
  content: "\e2aa";
}
.flt-rc-person-question-mark:before {
  content: "\e2ab";
}
.flt-rc-person-support:before {
  content: "\e2ac";
}
.flt-rc-person-swap:before {
  content: "\e2ad";
}
.flt-rc-person-voice:before {
  content: "\e2ae";
}
.flt-rc-phone:before {
  content: "\e2af";
}
.flt-rc-phone-add-new-app:before {
  content: "\e2b0";
}
.flt-rc-phone-desktop:before {
  content: "\e2b1";
}
.flt-rc-phone-error:before {
  content: "\e2b2";
}
.flt-rc-phone-home-lock:before {
  content: "\e2b3";
}
.flt-rc-phone-laptop:before {
  content: "\e2b4";
}
.flt-rc-phone-link-setup:before {
  content: "\e2b5";
}
.flt-rc-phone-mobile:before {
  content: "\e2b6";
}
.flt-rc-phone-page-header:before {
  content: "\e2b7";
}
.flt-rc-phone-pagination:before {
  content: "\e2b8";
}
.flt-rc-phone-screen-time:before {
  content: "\e2b9";
}
.flt-rc-phone-shake:before {
  content: "\e2ba";
}
.flt-rc-phone-status-bar:before {
  content: "\e2bb";
}
.flt-rc-phone-tablet:before {
  content: "\e2bc";
}
.flt-rc-phone-to-pc:before {
  content: "\e2bd";
}
.flt-rc-phone-update:before {
  content: "\e2be";
}
.flt-rc-phone-vertical-scroll:before {
  content: "\e2bf";
}
.flt-rc-phone-vibrate:before {
  content: "\e2c0";
}
.flt-rc-photo-filter:before {
  content: "\e2c1";
}
.flt-rc-picture-in-picture:before {
  content: "\e2c2";
}
.flt-rc-pin:before {
  content: "\e2c3";
}
.flt-rc-pin-off:before {
  content: "\e2c4";
}
.flt-rc-play:before {
  content: "\e2c5";
}
.flt-rc-play-circle:before {
  content: "\e2c6";
}
.flt-rc-plug-disconnected:before {
  content: "\e2c7";
}
.flt-rc-point-scan:before {
  content: "\e2c8";
}
.flt-rc-poll:before {
  content: "\e2c9";
}
.flt-rc-power:before {
  content: "\e2ca";
}
.flt-rc-predictions:before {
  content: "\e2cb";
}
.flt-rc-premium:before {
  content: "\e2cc";
}
.flt-rc-presence-available:before {
  content: "\e2cd";
}
.flt-rc-presence-away:before {
  content: "\e2ce";
}
.flt-rc-presence-blocked:before {
  content: "\e2cf";
}
.flt-rc-presence-busy:before {
  content: "\e2d0";
}
.flt-rc-presence-dnd:before {
  content: "\e2d1";
}
.flt-rc-presence-offline:before {
  content: "\e2d2";
}
.flt-rc-presence-oof:before {
  content: "\e2d3";
}
.flt-rc-presence-unknown:before {
  content: "\e2d4";
}
.flt-rc-presenter:before {
  content: "\e2d5";
}
.flt-rc-presenter-off:before {
  content: "\e2d6";
}
.flt-rc-preview-link:before {
  content: "\e2d7";
}
.flt-rc-previous:before {
  content: "\e2d8";
}
.flt-rc-print:before {
  content: "\e2d9";
}
.flt-rc-prohibited:before {
  content: "\e2da";
}
.flt-rc-protocol-handler:before {
  content: "\e2db";
}
.flt-rc-qr-code:before {
  content: "\e2dc";
}
.flt-rc-question:before {
  content: "\e2dd";
}
.flt-rc-question-circle:before {
  content: "\e2de";
}
.flt-rc-quiz-new:before {
  content: "\e2df";
}
.flt-rc-radio-button:before {
  content: "\e2e0";
}
.flt-rc-rating-mature:before {
  content: "\e2e1";
}
.flt-rc-read-aloud:before {
  content: "\e2e2";
}
.flt-rc-reading-list:before {
  content: "\e2e3";
}
.flt-rc-reading-list-add:before {
  content: "\e2e4";
}
.flt-rc-reading-mode-mobile:before {
  content: "\e2e5";
}
.flt-rc-real-estate:before {
  content: "\e2e6";
}
.flt-rc-reciept:before {
  content: "\e2e7";
}
.flt-rc-recommended:before {
  content: "\e2e8";
}
.flt-rc-record:before {
  content: "\e2e9";
}
.flt-rc-remove:before {
  content: "\e2ea";
}
.flt-rc-remove-recent:before {
  content: "\e2eb";
}
.flt-rc-rename:before {
  content: "\e2ec";
}
.flt-rc-re-order:before {
  content: "\e2ed";
}
.flt-rc-re-order-dots:before {
  content: "\e2ee";
}
.flt-rc-resize:before {
  content: "\e2ef";
}
.flt-rc-resize-image:before {
  content: "\e2f0";
}
.flt-rc-resize-table:before {
  content: "\e2f1";
}
.flt-rc-resize-video:before {
  content: "\e2f2";
}
.flt-rc-restore:before {
  content: "\e2f3";
}
.flt-rc-reward:before {
  content: "\e2f4";
}
.flt-rc-rewind:before {
  content: "\e2f5";
}
.flt-rc-rocket:before {
  content: "\e2f6";
}
.flt-rc-router:before {
  content: "\e2f7";
}
.flt-rc-row-triple:before {
  content: "\e2f8";
}
.flt-rc-ruler:before {
  content: "\e2f9";
}
.flt-rc-run:before {
  content: "\e2fa";
}
.flt-rc-save:before {
  content: "\e2fb";
}
.flt-rc-save-as:before {
  content: "\e2fc";
}
.flt-rc-save-copy:before {
  content: "\e2fd";
}
.flt-rc-savings:before {
  content: "\e2fe";
}
.flt-rc-scale-fill:before {
  content: "\e2ff";
}
.flt-rc-scale-fit:before {
  content: "\e300";
}
.flt-rc-scales:before {
  content: "\e301";
}
.flt-rc-scan:before {
  content: "\e302";
}
.flt-rc-scratchpad:before {
  content: "\e303";
}
.flt-rc-screenshot:before {
  content: "\e304";
}
.flt-rc-search:before {
  content: "\e305";
}
.flt-rc-search-info:before {
  content: "\e306";
}
.flt-rc-search-square:before {
  content: "\e307";
}
.flt-rc-select-all:before {
  content: "\e308";
}
.flt-rc-select-all-off:before {
  content: "\e309";
}
.flt-rc-select-object:before {
  content: "\e30a";
}
.flt-rc-send:before {
  content: "\e30b";
}
.flt-rc-send-clock:before {
  content: "\e30c";
}
.flt-rc-send-copy:before {
  content: "\e30d";
}
.flt-rc-send-logging:before {
  content: "\e30e";
}
.flt-rc-send-to-back:before {
  content: "\e30f";
}
.flt-rc-serial-port:before {
  content: "\e310";
}
.flt-rc-service-bell:before {
  content: "\e311";
}
.flt-rc-settings:before {
  content: "\e312";
}
.flt-rc-set-top-stack:before {
  content: "\e313";
}
.flt-rc-shapes:before {
  content: "\e314";
}
.flt-rc-share:before {
  content: "\e315";
}
.flt-rc-share-android:before {
  content: "\e316";
}
.flt-rc-share-close-tray:before {
  content: "\e317";
}
.flt-rc-share-desktop:before {
  content: "\e318";
}
.flt-rc-share-ios:before {
  content: "\e319";
}
.flt-rc-share-screen:before {
  content: "\e31a";
}
.flt-rc-share-stop:before {
  content: "\e31b";
}
.flt-rc-shield:before {
  content: "\e31c";
}
.flt-rc-shield-dismiss:before {
  content: "\e31d";
}
.flt-rc-shield-error:before {
  content: "\e31e";
}
.flt-rc-shield-keyhole:before {
  content: "\e31f";
}
.flt-rc-shield-prohibited:before {
  content: "\e320";
}
.flt-rc-shifts:before {
  content: "\e321";
}
.flt-rc-shifts-24h:before {
  content: "\e322";
}
.flt-rc-shifts-30-minutes:before {
  content: "\e323";
}
.flt-rc-shifts-activity:before {
  content: "\e324";
}
.flt-rc-shifts-add:before {
  content: "\e325";
}
.flt-rc-shifts-approve:before {
  content: "\e326";
}
.flt-rc-shifts-availability:before {
  content: "\e327";
}
.flt-rc-shifts-deny:before {
  content: "\e328";
}
.flt-rc-shifts-open:before {
  content: "\e329";
}
.flt-rc-shifts-pending:before {
  content: "\e32a";
}
.flt-rc-shifts-team:before {
  content: "\e32b";
}
.flt-rc-sidebar-search-ltr:before {
  content: "\e32c";
}
.flt-rc-sidebar-search-rtl:before {
  content: "\e32d";
}
.flt-rc-signature:before {
  content: "\e32e";
}
.flt-rc-signed:before {
  content: "\e32f";
}
.flt-rc-sign-out:before {
  content: "\e330";
}
.flt-rc-sim:before {
  content: "\e331";
}
.flt-rc-sleep:before {
  content: "\e332";
}
.flt-rc-slide-add:before {
  content: "\e333";
}
.flt-rc-slide-design:before {
  content: "\e334";
}
.flt-rc-slide-hide:before {
  content: "\e335";
}
.flt-rc-slide-layout:before {
  content: "\e336";
}
.flt-rc-slide-microphone:before {
  content: "\e337";
}
.flt-rc-slide-multiple-arrow-right:before {
  content: "\e338";
}
.flt-rc-slide-search:before {
  content: "\e339";
}
.flt-rc-slide-size:before {
  content: "\e33a";
}
.flt-rc-slide-text:before {
  content: "\e33b";
}
.flt-rc-slow-mode:before {
  content: "\e33c";
}
.flt-rc-small:before {
  content: "\e33d";
}
.flt-rc-snooze:before {
  content: "\e33e";
}
.flt-rc-sound-source:before {
  content: "\e33f";
}
.flt-rc-spacebar:before {
  content: "\e340";
}
.flt-rc-speaker:before {
  content: "\e341";
}
.flt-rc-speaker-0:before {
  content: "\e342";
}
.flt-rc-speaker-1:before {
  content: "\e343";
}
.flt-rc-speaker-bluetooth:before {
  content: "\e344";
}
.flt-rc-speaker-edit:before {
  content: "\e345";
}
.flt-rc-speaker-none:before {
  content: "\e346";
}
.flt-rc-speaker-off:before {
  content: "\e347";
}
.flt-rc-speaker-settings:before {
  content: "\e348";
}
.flt-rc-spinner-ios:before {
  content: "\e349";
}
.flt-rc-sports:before {
  content: "\e34a";
}
.flt-rc-star:before {
  content: "\e34b";
}
.flt-rc-star-add:before {
  content: "\e34c";
}
.flt-rc-star-arrow-right:before {
  content: "\e34d";
}
.flt-rc-star-arrow-right-start:before {
  content: "\e34e";
}
.flt-rc-star-edit:before {
  content: "\e34f";
}
.flt-rc-star-emphasis:before {
  content: "\e350";
}
.flt-rc-star-half:before {
  content: "\e351";
}
.flt-rc-star-off:before {
  content: "\e352";
}
.flt-rc-star-one-quarter:before {
  content: "\e353";
}
.flt-rc-star-prohibited:before {
  content: "\e354";
}
.flt-rc-star-settings:before {
  content: "\e355";
}
.flt-rc-star-three-quarter:before {
  content: "\e356";
}
.flt-rc-status:before {
  content: "\e357";
}
.flt-rc-stethoscope:before {
  content: "\e358";
}
.flt-rc-sticker:before {
  content: "\e359";
}
.flt-rc-sticker-add:before {
  content: "\e35a";
}
.flt-rc-stop:before {
  content: "\e35b";
}
.flt-rc-storage:before {
  content: "\e35c";
}
.flt-rc-store-microsoft:before {
  content: "\e35d";
}
.flt-rc-style-guide:before {
  content: "\e35e";
}
.flt-rc-sub-grid:before {
  content: "\e35f";
}
.flt-rc-subway:before {
  content: "\e360";
}
.flt-rc-surface-earbuds:before {
  content: "\e361";
}
.flt-rc-surface-hub:before {
  content: "\e362";
}
.flt-rc-swipe-down:before {
  content: "\e363";
}
.flt-rc-swipe-right:before {
  content: "\e364";
}
.flt-rc-swipe-up:before {
  content: "\e365";
}
.flt-rc-symbols:before {
  content: "\e366";
}
.flt-rc-sync-off:before {
  content: "\e367";
}
.flt-rc-system:before {
  content: "\e368";
}
.flt-rc-tab:before {
  content: "\e369";
}
.flt-rc-tab-desktop:before {
  content: "\e36a";
}
.flt-rc-tab-desktop-arrow-clockwise:before {
  content: "\e36b";
}
.flt-rc-tab-desktop-clock:before {
  content: "\e36c";
}
.flt-rc-tab-desktop-copy:before {
  content: "\e36d";
}
.flt-rc-tab-desktop-image:before {
  content: "\e36e";
}
.flt-rc-tab-desktop-multiple:before {
  content: "\e36f";
}
.flt-rc-tab-desktop-new-page:before {
  content: "\e370";
}
.flt-rc-tab-in-private:before {
  content: "\e371";
}
.flt-rc-tab-inprivate-account:before {
  content: "\e372";
}
.flt-rc-table:before {
  content: "\e373";
}
.flt-rc-table-add:before {
  content: "\e374";
}
.flt-rc-table-cells-merge:before {
  content: "\e375";
}
.flt-rc-table-cells-split:before {
  content: "\e376";
}
.flt-rc-table-column-delete:before {
  content: "\e377";
}
.flt-rc-table-column-insert:before {
  content: "\e378";
}
.flt-rc-table-column-resize:before {
  content: "\e379";
}
.flt-rc-table-delete:before {
  content: "\e37a";
}
.flt-rc-table-edit:before {
  content: "\e37b";
}
.flt-rc-table-freeze:before {
  content: "\e37c";
}
.flt-rc-table-freeze-column:before {
  content: "\e37d";
}
.flt-rc-table-freeze-row:before {
  content: "\e37e";
}
.flt-rc-table-insert-down:before {
  content: "\e37f";
}
.flt-rc-table-insert-left:before {
  content: "\e380";
}
.flt-rc-table-insert-right:before {
  content: "\e381";
}
.flt-rc-table-insert-up:before {
  content: "\e382";
}
.flt-rc-table-move-down:before {
  content: "\e383";
}
.flt-rc-table-move-left:before {
  content: "\e384";
}
.flt-rc-table-move-right:before {
  content: "\e385";
}
.flt-rc-table-move-up:before {
  content: "\e386";
}
.flt-rc-table-row-delete:before {
  content: "\e387";
}
.flt-rc-table-row-insert:before {
  content: "\e388";
}
.flt-rc-table-row-resize:before {
  content: "\e389";
}
.flt-rc-table-settings:before {
  content: "\e38a";
}
.flt-rc-table-switch:before {
  content: "\e38b";
}
.flt-rc-tablet:before {
  content: "\e38c";
}
.flt-rc-tab-new:before {
  content: "\e38d";
}
.flt-rc-tab-prohibited:before {
  content: "\e38e";
}
.flt-rc-tabs:before {
  content: "\e38f";
}
.flt-rc-tab-sweep:before {
  content: "\e390";
}
.flt-rc-tab-tracking-prevention:before {
  content: "\e391";
}
.flt-rc-tag:before {
  content: "\e392";
}
.flt-rc-tap-double:before {
  content: "\e393";
}
.flt-rc-tap-single:before {
  content: "\e394";
}
.flt-rc-target:before {
  content: "\e395";
}
.flt-rc-target-edit:before {
  content: "\e396";
}
.flt-rc-task-list:before {
  content: "\e397";
}
.flt-rc-task-list-add:before {
  content: "\e398";
}
.flt-rc-tasks-app:before {
  content: "\e399";
}
.flt-rc-teddy:before {
  content: "\e39a";
}
.flt-rc-temperature:before {
  content: "\e39b";
}
.flt-rc-tent:before {
  content: "\e39c";
}
.flt-rc-test-call:before {
  content: "\e39d";
}
.flt-rc-text:before {
  content: "\e39e";
}
.flt-rc-text-add:before {
  content: "\e39f";
}
.flt-rc-text-add-space-after:before {
  content: "\e3a0";
}
.flt-rc-text-add-space-before:before {
  content: "\e3a1";
}
.flt-rc-text-align-center:before {
  content: "\e3a2";
}
.flt-rc-text-align-distributed:before {
  content: "\e3a3";
}
.flt-rc-text-align-justify:before {
  content: "\e3a4";
}
.flt-rc-text-align-left:before {
  content: "\e3a5";
}
.flt-rc-text-align-right:before {
  content: "\e3a6";
}
.flt-rc-text-asterisk:before {
  content: "\e3a7";
}
.flt-rc-text-bold:before {
  content: "\e3a8";
}
.flt-rc-textbox:before {
  content: "\e3a9";
}
.flt-rc-textbox-align:before {
  content: "\e3aa";
}
.flt-rc-textbox-align-bottom:before {
  content: "\e3ab";
}
.flt-rc-textbox-align-middle:before {
  content: "\e3ac";
}
.flt-rc-textbox-align-top:before {
  content: "\e3ad";
}
.flt-rc-textbox-vertical:before {
  content: "\e3ae";
}
.flt-rc-text-bullet-list:before {
  content: "\e3af";
}
.flt-rc-text-bullet-list-add:before {
  content: "\e3b0";
}
.flt-rc-text-bullet-list-square:before {
  content: "\e3b1";
}
.flt-rc-text-bullet-list-square-warning:before {
  content: "\e3b2";
}
.flt-rc-text-bullet-list-tree:before {
  content: "\e3b3";
}
.flt-rc-text-change-accept:before {
  content: "\e3b4";
}
.flt-rc-text-change-case:before {
  content: "\e3b5";
}
.flt-rc-text-change-next:before {
  content: "\e3b6";
}
.flt-rc-text-change-previous:before {
  content: "\e3b7";
}
.flt-rc-text-change-reject:before {
  content: "\e3b8";
}
.flt-rc-text-change-settings:before {
  content: "\e3b9";
}
.flt-rc-text-clear-formatting:before {
  content: "\e3ba";
}
.flt-rc-text-collapse:before {
  content: "\e3bb";
}
.flt-rc-text-color:before {
  content: "\e3bc";
}
.flt-rc-text-color-accent:before {
  content: "\e3bd";
}
.flt-rc-text-column-one:before {
  content: "\e3be";
}
.flt-rc-text-column-one-narrow:before {
  content: "\e3bf";
}
.flt-rc-text-column-one-wide:before {
  content: "\e3c0";
}
.flt-rc-text-column-three:before {
  content: "\e3c1";
}
.flt-rc-text-column-two:before {
  content: "\e3c2";
}
.flt-rc-text-column-two-left:before {
  content: "\e3c3";
}
.flt-rc-text-column-two-right:before {
  content: "\e3c4";
}
.flt-rc-text-continuous:before {
  content: "\e3c5";
}
.flt-rc-text-description:before {
  content: "\e3c6";
}
.flt-rc-text-direction:before {
  content: "\e3c7";
}
.flt-rc-text-direction-horizontal-ltr:before {
  content: "\e3c8";
}
.flt-rc-text-direction-rotate-90:before {
  content: "\e3c9";
}
.flt-rc-text-direction-rotate-270:before {
  content: "\e3ca";
}
.flt-rc-text-direction-rotate-270-ac:before {
  content: "\e3cb";
}
.flt-rc-text-direction-vertical:before {
  content: "\e3cc";
}
.flt-rc-text-edit-style:before {
  content: "\e3cd";
}
.flt-rc-text-effects:before {
  content: "\e3ce";
}
.flt-rc-text-expand:before {
  content: "\e3cf";
}
.flt-rc-text-field:before {
  content: "\e3d0";
}
.flt-rc-text-first-line:before {
  content: "\e3d1";
}
.flt-rc-text-font:before {
  content: "\e3d2";
}
.flt-rc-text-font-size:before {
  content: "\e3d3";
}
.flt-rc-text-footnote:before {
  content: "\e3d4";
}
.flt-rc-text-grammar-options:before {
  content: "\e3d5";
}
.flt-rc-text-hanging:before {
  content: "\e3d6";
}
.flt-rc-text-header-1:before {
  content: "\e3d7";
}
.flt-rc-text-header-2:before {
  content: "\e3d8";
}
.flt-rc-text-header-3:before {
  content: "\e3d9";
}
.flt-rc-text-indent-decrease:before {
  content: "\e3da";
}
.flt-rc-text-indent-increase:before {
  content: "\e3db";
}
.flt-rc-text-italic:before {
  content: "\e3dc";
}
.flt-rc-text-line-spacing:before {
  content: "\e3dd";
}
.flt-rc-text-number-format:before {
  content: "\e3de";
}
.flt-rc-text-number-list-ltr:before {
  content: "\e3df";
}
.flt-rc-text-number-list-rtl:before {
  content: "\e3e0";
}
.flt-rc-text-paragraph-settings:before {
  content: "\e3e1";
}
.flt-rc-text-proofing-tools:before {
  content: "\e3e2";
}
.flt-rc-text-quote:before {
  content: "\e3e3";
}
.flt-rc-text-sort-ascending:before {
  content: "\e3e4";
}
.flt-rc-text-sort-descending:before {
  content: "\e3e5";
}
.flt-rc-text-strikethrough:before {
  content: "\e3e6";
}
.flt-rc-text-subscript:before {
  content: "\e3e7";
}
.flt-rc-text-superscript:before {
  content: "\e3e8";
}
.flt-rc-text-underline:before {
  content: "\e3e9";
}
.flt-rc-text-word-count:before {
  content: "\e3ea";
}
.flt-rc-text-wrap:before {
  content: "\e3eb";
}
.flt-rc-thinking:before {
  content: "\e3ec";
}
.flt-rc-thumb-dislike:before {
  content: "\e3ed";
}
.flt-rc-thumb-like:before {
  content: "\e3ee";
}
.flt-rc-ticket:before {
  content: "\e3ef";
}
.flt-rc-ticket-diagonal:before {
  content: "\e3f0";
}
.flt-rc-time-and-weather:before {
  content: "\e3f1";
}
.flt-rc-timeline:before {
  content: "\e3f2";
}
.flt-rc-time-picker:before {
  content: "\e3f3";
}
.flt-rc-timer:before {
  content: "\e3f4";
}
.flt-rc-timer-2:before {
  content: "\e3f5";
}
.flt-rc-timer-10:before {
  content: "\e3f6";
}
.flt-rc-timer-off:before {
  content: "\e3f7";
}
.flt-rc-toggle-right:before {
  content: "\e3f8";
}
.flt-rc-toolbox:before {
  content: "\e3f9";
}
.flt-rc-top-speed:before {
  content: "\e3fa";
}
.flt-rc-translate:before {
  content: "\e3fb";
}
.flt-rc-trophy:before {
  content: "\e3fc";
}
.flt-rc-tv:before {
  content: "\e3fd";
}
.flt-rc-uninstall-app:before {
  content: "\e3fe";
}
.flt-rc-unlock:before {
  content: "\e3ff";
}
.flt-rc-upload:before {
  content: "\e400";
}
.flt-rc-usb-port:before {
  content: "\e401";
}
.flt-rc-usb-stick:before {
  content: "\e402";
}
.flt-rc-vault:before {
  content: "\e403";
}
.flt-rc-vehicle-bicycle:before {
  content: "\e404";
}
.flt-rc-vehicle-bus:before {
  content: "\e405";
}
.flt-rc-vehicle-cab:before {
  content: "\e406";
}
.flt-rc-vehicle-car:before {
  content: "\e407";
}
.flt-rc-vehicle-ship:before {
  content: "\e408";
}
.flt-rc-vehicle-truck:before {
  content: "\e409";
}
.flt-rc-video:before {
  content: "\e40a";
}
.flt-rc-video-background-effect:before {
  content: "\e40b";
}
.flt-rc-video-clip:before {
  content: "\e40c";
}
.flt-rc-video-off:before {
  content: "\e40d";
}
.flt-rc-video-person:before {
  content: "\e40e";
}
.flt-rc-video-person-off:before {
  content: "\e40f";
}
.flt-rc-video-person-star:before {
  content: "\e410";
}
.flt-rc-video-play-pause:before {
  content: "\e411";
}
.flt-rc-video-security:before {
  content: "\e412";
}
.flt-rc-video-switch:before {
  content: "\e413";
}
.flt-rc-view-desktop:before {
  content: "\e414";
}
.flt-rc-view-desktop-mobile:before {
  content: "\e415";
}
.flt-rc-visual-search:before {
  content: "\e416";
}
.flt-rc-voicemail:before {
  content: "\e417";
}
.flt-rc-vote:before {
  content: "\e418";
}
.flt-rc-walkie-talkie:before {
  content: "\e419";
}
.flt-rc-wallpaper:before {
  content: "\e41a";
}
.flt-rc-warning:before {
  content: "\e41b";
}
.flt-rc-weather-blowing-snow:before {
  content: "\e41c";
}
.flt-rc-weather-cloudy:before {
  content: "\e41d";
}
.flt-rc-weather-drizzle:before {
  content: "\e41e";
}
.flt-rc-weather-duststorm:before {
  content: "\e41f";
}
.flt-rc-weather-fog:before {
  content: "\e420";
}
.flt-rc-weather-hail-day:before {
  content: "\e421";
}
.flt-rc-weather-hail-night:before {
  content: "\e422";
}
.flt-rc-weather-haze:before {
  content: "\e423";
}
.flt-rc-weather-moon:before {
  content: "\e424";
}
.flt-rc-weather-partly-cloudy-day:before {
  content: "\e425";
}
.flt-rc-weather-partly-cloudy-night:before {
  content: "\e426";
}
.flt-rc-weather-rain:before {
  content: "\e427";
}
.flt-rc-weather-rain-showers-day:before {
  content: "\e428";
}
.flt-rc-weather-rain-showers-night:before {
  content: "\e429";
}
.flt-rc-weather-rain-snow:before {
  content: "\e42a";
}
.flt-rc-weather-snow:before {
  content: "\e42b";
}
.flt-rc-weather-snowflake:before {
  content: "\e42c";
}
.flt-rc-weather-snow-shower-day:before {
  content: "\e42d";
}
.flt-rc-weather-snow-shower-night:before {
  content: "\e42e";
}
.flt-rc-weather-squalls:before {
  content: "\e42f";
}
.flt-rc-weather-sunny:before {
  content: "\e430";
}
.flt-rc-weather-sunny-high:before {
  content: "\e431";
}
.flt-rc-weather-sunny-low:before {
  content: "\e432";
}
.flt-rc-weather-thunderstorm:before {
  content: "\e433";
}
.flt-rc-web-asset:before {
  content: "\e434";
}
.flt-rc-whiteboard:before {
  content: "\e435";
}
.flt-rc-wifi-1:before {
  content: "\e436";
}
.flt-rc-wifi-2:before {
  content: "\e437";
}
.flt-rc-wifi-3:before {
  content: "\e438";
}
.flt-rc-wifi-4:before {
  content: "\e439";
}
.flt-rc-wifi-protected:before {
  content: "\e43a";
}
.flt-rc-window:before {
  content: "\e43b";
}
.flt-rc-window-ad:before {
  content: "\e43c";
}
.flt-rc-window-dev-tools:before {
  content: "\e43d";
}
.flt-rc-window-horizontal:before {
  content: "\e43e";
}
.flt-rc-window-inprivate:before {
  content: "\e43f";
}
.flt-rc-window-inprivate-account:before {
  content: "\e440";
}
.flt-rc-window-multiple:before {
  content: "\e441";
}
.flt-rc-window-new:before {
  content: "\e442";
}
.flt-rc-window-shield:before {
  content: "\e443";
}
.flt-rc-window-vertical:before {
  content: "\e444";
}
.flt-rc-wrench:before {
  content: "\e445";
}
.flt-rc-xbox-console:before {
  content: "\e446";
}
.flt-rc-zoom-in:before {
  content: "\e447";
}
.flt-rc-zoom-out:before {
  content: "\e448";
}
